/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* Root Variables */
:root {
  --color-text: hsl(0, 0%, 99%);
  --color-background: rgba(51, 51, 51, 0.678);
  --color-accent: rgb(84, 66, 95);
  --font-primary: "Manrope", sans-serif;
  --size-container: 1200px;
  --effect-box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.8);
  --effect-blur: blur(10px);
  --effect-outline: 1px solid #483c53;
  --fs-1: 32px;
  --fs-2: 24px;
  --fs-3: 26px;
  --fs-4: 18px;
  --fs-6: 15px;
  --fs-7: 15px;
  --fs-8: 12px;
  --outline: 1px solid rgba(255, 255, 255, 0.1);
  --box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  --blur: blur(15px);
  --apple-500: #2196f3;
  --background: rgba(255, 255, 255, 0.05);
}

/* Basic Styling */
body {
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-background);
  background-image: radial-gradient(
      at 40% 20%,
      rgb(84, 66, 95) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 100%, rgb(58, 17, 63) 0px, transparent 50%),
    radial-gradient(at 80% 0%, rgb(97, 58, 134) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgb(26, 51, 28) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(109, 46, 104) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(79, 72, 114) 0px, transparent 50%);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Layout */
.l-container {
  max-width: var(--size-container);
  margin: 0 auto;
  padding: 0 1rem;
}

.l-grid {
  display: grid;
  gap: 1rem;
}

/* Header */
.header {
  position: relative;
  z-index: 1;
}

.header__container {
  background-color: #18062b29;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 1.2rem 3rem;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  margin-right: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.header__menu-item {
  margin: 0 0.6rem;
}

.header__menu-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
}

.header__menu-link:hover {
  color: var(--gray-100);
}

.header__cta {
  display: block;
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 25px;
  background: var(--background);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  outline: var(--outline);
}

.header__hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

/* Main Content */
.main {
  margin: 15px 12px 75px;
  min-width: 259px;
}

.aboutme {
  margin-top: 3rem;
  display: grid;
  gap: 4rem;
  max-width: 1200px;
  margin-inline: auto;
}

.aboutme__section {
  background: var(--background);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  outline: var(--outline);
  border-radius: 10px;
  padding: 2rem;
}

.aboutme__title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.aboutme__text {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.aboutme__list {
  list-style-type: decimal;
  margin-inline: 1.5rem;
}

.aboutme__list-item {
  margin-bottom: 1.5rem;
}

.aboutme__list-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.aboutme__list-text {
  margin-top: 1rem;
}

/* Gallery */
.gallery {
  background: var(--background);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  outline: var(--outline);
  border-radius: 10px;
  padding: 2rem 1rem;
}

.gallery__container {
  max-width: 100%;
  height: 600px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-block: 1rem;
}

.gallery__panel {
  flex: 1;
  border-radius: 0.75rem;
  cursor: pointer;
  overflow: hidden;
  transition: flex 0.5s ease-in-out;
}

.gallery__panel:hover {
  flex: 6;
}

.gallery__container:has(.gallery__panel:hover)
  .gallery__panel:not(:hover)
  .gallery__image {
  filter: grayscale(100%);
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

/* Footer */
.footer {
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 1rem;
}

/* Media Queries */
@media (max-width: 1100px) {
  .header__container {
    padding: 1.2rem;
  }

  .header__menu {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    height: 100vh;
    background-image: radial-gradient(
        at 40% 20%,
        rgb(84, 66, 95) 0px,
        transparent 50%
      ),
      radial-gradient(at 80% 100%, rgb(58, 17, 63) 0px, transparent 50%),
      radial-gradient(at 80% 0%, rgb(97, 58, 134) 0px, transparent 50%),
      radial-gradient(at 80% 50%, rgb(26, 51, 28) 0px, transparent 50%),
      radial-gradient(at 0% 100%, rgb(109, 46, 104) 0px, transparent 50%),
      radial-gradient(at 0% 0%, rgb(79, 72, 114) 0px, transparent 50%);
    backdrop-filter: var(--blur);
  }

  .header__menu.show {
    display: block;
  }

  .header__menu-list {
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    background: var(--background);
    outline: var(--outline);
  }

  .header__menu-item {
    margin: 0;
    padding: 0.5rem 0;
  }

  .header__menu-item:not(:last-child) {
    border-bottom: var(--outline);
  }

  .header__menu-link {
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .header__hamburger {
    display: block;
  }
}

@media (min-width: 600px) {
  .aboutme__title {
    text-align: left;
  }
}

@media (min-width: 750px) {
  .gallery__container {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .aboutme {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery {
    grid-column: 1 / -1;
  }
}

@media (max-width: 600px) {
  .header__cta {
    display: none;
  }
}
