/* css reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  /* max-width: 100%; */
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  /* Colors */
  --color-text: hsl(0, 0%, 99%);
  --color-background: rgba(51, 51, 51, 0.678);
  --color-accent: rgb(84, 66, 95);

  /* Fonts */
  --font-primary: "Manrope", sans-serif;

  /* Sizes */
  --size-container: 1200px;

  /* Effects */
  --effect-box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.8);
  --effect-blur: blur(10px);
  --effect-outline: 1px solid #483c53;

  /* Font sizes */
  --fs-1: clamp(2rem, 5vw, 4rem);
  --fs-2: clamp(1.5rem, 3vw, 2.5rem);
  --fs-3: clamp(1.25rem, 2vw, 1.75rem);
  --fs-4: clamp(1rem, 1.5vw, 1.25rem);

  /* Hero & Skills*/
  --outline: 1px solid rgba(255, 255, 255, 0.1);
  --box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  --blur: blur(15px);
  --apple-500: #2196f3;

  /* claude suggestions */
  /* --primary-color: rgb(84, 66, 95);
  --secondary-color: rgb(58, 17, 63);
  --accent-color: #2196f3;
  --text-color: hsl(0, 0%, 99%);
  --background-color: rgba(51, 51, 51, 0.678);
  --border-radius: 16px; */
}

/* basic styling */
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--font-primary);
  font-weight: lighter;
  color: var(--color-text);
  background-color: var(--color-background);
  background-image: radial-gradient(
      at 40% 20%,
      rgb(84, 66, 95) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 100%, rgb(58, 17, 63) 0px, transparent 50%),
    radial-gradient(at 80% 0%, rgb(97, 58, 134) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgb(26, 51, 28) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(109, 46, 104) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(79, 72, 114) 0px, transparent 50%);

  /* Keep your existing gradient background */
}
/* Layout */
.l-container {
  max-width: var(--size-container);
  margin: 0 auto;
  padding: 0 1rem;
}

.l-grid {
  display: grid;
  gap: 1rem;
}

/* Header */
.header {
  position: relative;
  z-index: 1;
}

.header__container {
  background-color: #18062b29;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 1.2rem 3rem;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  margin-right: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.header__menu-item {
  margin: 0 0.6rem;
}

.header__menu-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
  text-decoration: none;
  color: inherit;
}

.svg {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(262deg)
    brightness(106%) contrast(101%);
}

.header__menu-link:hover {
  color: var(--gray-100);
}

.header__cta {
  display: block;
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 25px;
  background: var(--background);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  outline: var(--outline);
  text-decoration: none;
  color: inherit;
}

.header__hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

/* Media Queries */
@media (max-width: 1100px) {
  .header__container {
    padding: 1.2rem;
  }

  .header__menu {
    display: none;
    position: absolute;
    top: 90px; /* Adjusted to match header height */
    left: 0;
    right: 0;
    height: 100vh;
    background-image: radial-gradient(
        at 40% 20%,
        rgb(84, 66, 95) 0px,
        transparent 50%
      ),
      radial-gradient(at 80% 100%, rgb(58, 17, 63) 0px, transparent 50%),
      radial-gradient(at 80% 0%, rgb(97, 58, 134) 0px, transparent 50%),
      radial-gradient(at 80% 50%, rgb(26, 51, 28) 0px, transparent 50%),
      radial-gradient(at 0% 100%, rgb(109, 46, 104) 0px, transparent 50%),
      radial-gradient(at 0% 0%, rgb(79, 72, 114) 0px, transparent 50%);
    backdrop-filter: var(--blur);
  }

  .header__menu.show {
    display: block;
  }

  .header__menu-list {
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    background: var(--background);
    /* backdrop-filter: var(--blur); */
    outline: var(--outline);
  }

  .header__menu-item {
    margin: 0;
    padding: 0.5rem 0;
  }

  .header__menu-item:not(:last-child) {
    border-bottom: var(--outline);
  }

  .header__menu-link {
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .header__hamburger {
    display: block;
  }
}

/* Utility class */
.body-no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* Main layout */
.l-main {
  margin: 15px 12px 75px;
  min-width: 259px;
}

.about__hero,
.about__skills,
.services,
.project-section {
  padding: 2rem 0;
}

/* Sidebar */
.sidebar {
  margin-inline: auto;
  padding-block: 30px;
  max-height: fit-content;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 16px;
  background: var(--background);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  outline: var(--outline);
}

.sidebar__info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.sidebar__avatar {
  width: 80px;
}

.sidebar__avatar-img {
  width: 100%;
  border-radius: 20px 5px;
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.sidebar__name {
  font-size: var(--fs-3);
  letter-spacing: -0.25px;
}

.sidebar__title {
  font-size: var(--fs-8);
  width: max-content;
  padding: 3px 12px;
  outline: 1px solid var(--light-gray);
}

.sidebar__desc {
  display: none;
}

.sidebar__contact-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar__contact-item {
  width: 20px;
}

.sidebar__contact-icon {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(262deg)
    brightness(106%) contrast(101%);
  width: 100%;
}

/* hero & skills */
.about__hero,
.about__skills,
.services,
.project-section {
  padding-bottom: 3rem;
  border-bottom: var(--outline);
}

.about__hero-title {
  font-weight: 800;
  font-size: clamp(1.5rem, 5vw + 1rem, 4rem);
  line-height: 1.3;
  margin-bottom: 3.5rem;
  text-align: center;
}

.about__hero-highlight {
  color: var(--apple-500);
}

.about__hero-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4rem;
}

.about__hero-button {
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.about__hero-button--primary {
  background-color: var(--background);
  backdrop-filter: var(--blur);
  color: var(--bg);
  border: 1px solid transparent;
}

.about__skills-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  background: var(--background);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  border-radius: 10px;
  overflow: hidden;
}

.about__skills-title {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  margin-bottom: 2rem;
  text-align: center;
}

.about__skill-item {
  max-width: 150px;
  background: var(--background);
  border: var(--outline);
  padding: 1rem;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s;
}

.about__skill-item:hover {
  transform: translateY(-5px);
}

.about__skill-icon {
  width: 20px;
  height: 20px;
}

.about__skill-name {
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* services */
.services {
  --outline: 1px solid rgba(255, 255, 255, 0.1);
  --box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  --blur: blur(4px);
  --background: rgba(255, 255, 255, 0.05);

  padding-bottom: 3rem;
  border-bottom: var(--outline);
}

.services__title {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  margin-bottom: 2rem;
  text-align: center;
}

.services__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.services__item {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 10px;
  background: var(--background);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  outline: var(--outline);
  transition: transform 0.3s ease;
}

.services__item:hover {
  transform: translateY(-5px);
}

.services__icon {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--apple-500);
  border-radius: 50%;
}

.services__icon p {
  font-size: 1.5rem;
}

.services__content {
  flex-grow: 1;
}

.services__item-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--apple-500);
}

.services__item-description {
  font-size: 1rem;
  line-height: 1.5;
}

/* project section */
.projects {
  padding-bottom: 3rem;
  border-bottom: var(--outline);
}

.projects__title {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  margin-bottom: 2rem;
}

.projects__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects__item {
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: var(--background);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  outline: var(--outline);
  transition: transform 0.3s ease;
}

.projects__item:hover {
  transform: translateY(-5px);
}

.projects__image-wrapper {
  aspect-ratio: 16 / 9;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.projects__item:hover .projects__image {
  transform: scale(1.05);
}

.projects__item-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.projects__item-description {
  font-size: 1rem;
  line-height: 1.5;
}

/* FOOTER */
.footer {
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 1rem;
}

/* Mobile-first styles (up to 580px) */
@media (max-width: 579px) {
  /* Add any specific mobile styles here if needed */
}

/* Small tablets and large smartphones (580px and up) */
@media (min-width: 580px) {
  .l-main {
    margin-top: 60px;
  }

  .sidebar {
    max-height: max-content;
    margin-inline: auto;
    padding: 30px;
  }

  .sidebar__info {
    gap: 25px;
  }

  .sidebar__avatar {
    width: 200px;
  }

  .sidebar__avatar-img {
    width: 100%;
  }

  .sidebar__title {
    padding: 5px 18px;
  }

  .about__list {
    flex-direction: row;
  }

  .about__img img {
    width: 40px;
  }

  .about__hero-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
  }

  .projects__image-wrapper {
    height: 400px;
  }
}

/* Medium tablets and small laptops (768px and up) */
@media (min-width: 768px) {
  .sidebar,
  .l-main__content {
    width: 700px;
  }

  .about__hero-buttons {
    flex-direction: row;
    align-items: stretch;
  }

  .about__hero-button {
    text-align: center;
  }

  .about__skills-title {
    text-align: start;
  }

  .services__title {
    text-align: start;
  }

  .services__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .services__icon {
    margin-bottom: 1rem;
  }

  /* .projects__container {
    grid-template-columns: 1fr;
  } */

  .projects__item {
    padding: 1rem;
  }

  .projects__image-wrapper {
    height: 150px;
  }
}

/* Large tablets and laptops (1024px and up) */
@media (min-width: 1024px) {
  .sidebar,
  .l-main__content {
    width: 950px;
  }

  .sidebar__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .sidebar__name {
    margin-bottom: 0;
  }

  .sidebar__desc {
    display: block;
  }

  .sidebar__avatar {
    width: 500px;
  }

  .about__hero-title {
    font-size: 3rem;
    text-align: left;
  }

  .about__hero-buttons {
    justify-content: flex-start;
  }
}

/* Desktops and large screens (1250px and up) */
@media (min-width: 1250px) {
  .l-main {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 4rem;
  }

  .sidebar {
    position: sticky;
    top: 20%;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 60px;
    border-radius: 20px;
    width: 800px;
  }

  .sidebar__info {
    flex-direction: column;
  }

  .sidebar__desc {
    max-width: 50ch;
  }

  .sidebar__name {
    white-space: nowrap;
    text-align: center;
  }

  .sidebar__title {
    margin: auto;
  }

  .sidebar__avatar {
    width: 200px;
  }

  .sidebar__contact-container {
    align-items: center;
    justify-content: center;
  }

  .about__hero-title {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  .header__cta {
    display: none;
  }
}
